Agente-A3-Final.json
{
  "name": "Agente-A3-Final",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        80,
        160
      ],
      "id": "8a18f419-09fa-45f9-a3b5-498e3dd999af",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "gerenciar planilha",
        "jsCode": "const args = this.getArguments(); \nconst dadosFormatados = {\n    DATA: args.data || new Date().toLocaleDateString('pt-BR'),\n    CLIENTE: args.cliente,\n    PRODUTO: args.produto,\n    VALOR: parseFloat(args.valor) || 0\n};\nreturn dadosFormatados;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        176,
        160
      ],
      "id": "60f4532b-303f-4ed6-bbb7-035592395823",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15_H4bSmMz6TdDp8PMCddXkSFwWGtA6wPM1VjJ6KQabE",
          "mode": "list",
          "cachedResultName": "A3_Automação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_H4bSmMz6TdDp8PMCddXkSFwWGtA6wPM1VjJ6KQabE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1606453963,
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_H4bSmMz6TdDp8PMCddXkSFwWGtA6wPM1VjJ6KQabE/edit#gid=1606453963"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $json.DATA }}",
            "CLIENTE": "={{ $json.CLIENTE }}",
            "PRODUTO": "={{ $json.PRODUTO }}",
            "VALOR": "={{ $json.VALOR }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUTO",
              "displayName": "PRODUTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        0
      ],
      "id": "b8c74ffa-e14a-40ae-804e-865bd5fc720d",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "KhvcJjEiFxvb1FXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        80,
        432
      ],
      "id": "bc9f5d4b-fd67-4cae-96b3-92ac63ee16fc",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "15_H4bSmMz6TdDp8PMCddXkSFwWGtA6wPM1VjJ6KQabE",
          "mode": "list",
          "cachedResultName": "A3_Automação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_H4bSmMz6TdDp8PMCddXkSFwWGtA6wPM1VjJ6KQabE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1606453963,
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_H4bSmMz6TdDp8PMCddXkSFwWGtA6wPM1VjJ6KQabE/edit#gid=1606453963"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        192,
        432
      ],
      "id": "9e9ad143-6499-4b48-aa02-694d0a38cd0a",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "KhvcJjEiFxvb1FXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2843b06e-6744-4466-b11e-d25e7a2e06b5",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "/quanto|quais|quem|me d[êe]|hist[óo]rico|buscar|consultar|^lista$|^me d[êe] a lista/i",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        80
      ],
      "id": "8cd33306-695b-4761-a147-9aaa42cbe28e",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "cf7a2e5a-26f3-472c-b7d8-1b05cd84a117",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "NAJcLk4NyK5Hokbl",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -32,
        432
      ],
      "id": "b23afbe2-e3e8-4be5-a49b-1c3a1e6f19bf",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "NAJcLk4NyK5Hokbl",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let dadosCompra = $input.item.json.output;\n\ntry {\n  if (typeof dadosCompra === 'string') {\n \n    dadosCompra = dadosCompra.replace(/```json|```/g, '').trim();\n    \n  \n    if (!dadosCompra.startsWith('[') && !dadosCompra.startsWith('{')) {\n  \n       return [{ json: { stop_execution: true, message: \"A IA retornou texto em vez de dados estruturados.\" } }];\n    }\n    \n \n    dadosCompra = JSON.parse(dadosCompra);\n  }\n\n\n  const compra = Array.isArray(dadosCompra) ? dadosCompra[0] : dadosCompra;\n\n  if (!compra || (!compra.CLIENTE && !compra.PRODUTO && !compra.cliente && !compra.produto)) {\n    return [{ json: { stop_execution: true, message: \"Dados insuficientes ou inválidos para inserção.\" } }];\n  }\n\n\n  return [{\n    json: {\n      DATA: compra.DATA || compra.data || new Date().toLocaleDateString('pt-BR'),\n      CLIENTE: compra.CLIENTE || compra.cliente || \"\",\n      PRODUTO: compra.PRODUTO || compra.produto || \"\",\n      VALOR: parseFloat(compra.VALOR || compra.valor) || 0\n    }\n  }];\n\n} catch (error) {\n\n  return [{ json: { stop_execution: true, error: true, message: error.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "id": "ac40dce4-8d76-4cef-a278-26877e6f4a1d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sua tarefa é receber mensagens de compra do usuário (que podem conter uma ou MÚLTIPLAS compras separadas por linhas, vírgulas, barras ou qualquer outro delimitador), extrair os dados de cada uma e retornar estritamente um array de objetos JSON.\n\nMesmo que o usuário envie apenas uma compra, o retorno DEVE ser um array (lista) de objetos.\n\nFormato de saída estrito esperado:\n[\n  {\n    \"DATA\": \"DD/MM/AAAA\",\n    \"CLIENTE\": \"Nome do Cliente\",\n    \"PRODUTO\": \"Nome do Produto\",\n    \"VALOR\": 150.00\n  },\n  {\n    \"DATA\": \"DD/MM/AAAA\",\n    \"CLIENTE\": \"Outro Cliente\",\n    \"PRODUTO\": \"Outro Produto\",\n    \"VALOR\": 45.50\n  }\n]\n\nRegras:\n1. Não responda com mensagens de texto amigáveis ou saudações. Apenas retorne o Array JSON estruturado.\n2. No campo VALOR, insira apenas números (use ponto para decimais se necessário, ex: 25.50).\n3. Se não houver data explícita na mensagem de uma compra, use a data atual.\n4. IGNORE QUALQUER MENSAGEM REQUISITANDO/PEDINDO INFORMAÇÕES DA PLANILHA."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "eaee60c8-b1a5-4adf-838c-f1bdff8b9e68",
      "name": "Inserção"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é um analista de dados e assistente inteligente especializado em consultas da planilha \"A3_Automação\". Sua única e exclusiva função é ler as informações da planilha e responder às perguntas do usuário de forma clara, prestativa e padronizada.\n\nInstruções de Operação:\n1. Sempre que o usuário fizer uma pergunta sobre gastos, histórico, clientes ou produtos, use IMEDIATAMENTE a ferramenta \"Google Sheets Tool\" (operação Get Rows) para trazer todas as linhas da \"Página1\".\n2. Analise e filtre os dados retornados pela ferramenta em segundo plano para encontrar exatamente o que o usuário pediu.\n3. Se o usuário perguntar sobre valores ou gastos de alguém, faça a soma matemática dos valores encontrados para entregar o gasto total.\n\nVocê deve responder OBRIGATORIAMENTE no chat utilizando o seguinte formato padronizado em Markdown (mantenha os títulos, as linhas de separação e os negritos):\n\n### 📊 Relatório de Consulta - Planilha A3\n---\n**Resultados encontrados para a sua busca:**\n\n- **Solicitação:** [Descreva brevemente e de forma limpa o que o usuário te perguntou]\n- **Status:** [Insira: \"Registros localizados com sucesso!\" ou \"Nenhum registro encontrado para esta busca.\"]\n\n**Resumo dos Dados:**\n[Se encontrar dados: Liste as compras encontradas de forma organizada ou monte uma pequena tabela com as colunas. Se houver cálculos de soma, mostre o total destacado, ex: \"Total Gasto: R$ X,XX\"]\n[Se não encontrar dados: Diga amigavelmente que revisou a planilha e não encontrou nenhuma menção ao termo pesquisado]\n\n---\n*Caso precise de outro filtro ou mais detalhes sobre a planilha, é só pedir!*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        304
      ],
      "id": "6558a003-bb09-4950-b6bd-7a84ca2a4ec6",
      "name": "Consulta"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -672,
        80
      ],
      "id": "be10b415-51e1-448b-9451-41a59a7b4b73",
      "name": "When chat message received",
      "webhookId": "4e53f246-3469-4378-bc07-a65847dc853e"
    }
  ],
  "pinData": {},
  "connections": {
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "Inserção",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Consulta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Consulta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inserção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Inserção",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Consulta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserção": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "11ace54b-d07b-45d6-ba57-70136375ba0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75c2e7e46fe228b02b4e95b76f5694bd5920046ee8eacea4b7d2991600159ebb"
  },
  "id": "lOxIj4zXlI2cu5et",
  "tags": []
}
