monitor_email.json
{
  "name": "Monitor Gmail",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "urgente",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a643139-ae78-48cb-9152-ebc741ffb5db",
      "name": "É urgente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -912,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"mensagem\": \"Registrado e enviado ao Telegram: urgente\" }",
        "options": {}
      },
      "id": "8f062a4b-518e-455d-b536-d2ba5a1c0ab3",
      "name": "Responde urgente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"mensagem\": \"Registrado e enviado ao Telegram: normal\" }",
        "options": {}
      },
      "id": "131a9624-2bba-47f9-a0d9-29a162f40d20",
      "name": "Responde normal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16,
        240
      ]
    },
    {
      "parameters": {
        "sendTo": "joaofrancafaculdade@gmail.com",
        "subject": "⚠️ ALERTA: Notificação Urgente",
        "emailType": "text",
        "message": "==⚠️ URGENTE recebido em {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        32
      ],
      "id": "103a743b-ffd7-48b9-a587-04ead57f0b0c",
      "name": "Send a message",
      "webhookId": "a5f8cfdb-a60e-476b-b6aa-023cdff4efff",
      "credentials": {
        "gmailOAuth2": {
          "id": "6lIoNMBiJR3gKHdi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "joaofrancafaculdade@gmail.com",
        "subject": "✅ Notificação Padrão",
        "emailType": "text",
        "message": "==✅ NORMAL recebido em {{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -272,
        208
      ],
      "id": "98c39a60-a734-4bb7-ae4b-3574ca1f8f2a",
      "name": "Send a message1",
      "webhookId": "2cdf12a1-4ec2-4330-9d3c-232b9b482d81",
      "credentials": {
        "gmailOAuth2": {
          "id": "6lIoNMBiJR3gKHdi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1200,
        112
      ],
      "id": "122bcaf6-825f-481c-864f-e2dd1411e406",
      "name": "When chat message received",
      "webhookId": "097ad886-a64d-4c7b-abca-a6306f4d91e5"
    }
  ],
  "pinData": {},
  "connections": {
    "É urgente?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Responde urgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Responde normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "É urgente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c835db79-e471-4cb6-b6c9-fa0075b936b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75c2e7e46fe228b02b4e95b76f5694bd5920046ee8eacea4b7d2991600159ebb"
  },
  "id": "F23BAeBVeqwoXICM",
  "tags": []
}
